---
:page: person
:title: Natalie Karbelnig
:description: SoundBYTES bio for Natalie Karbelnig.
:layout: layout
---
.person#natalie(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot(src="/img/members/natalie.jpg")
  %h1(itemprop="name") Natalie Karbelnig
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  .bio
    %p
      Natalie Karbelnig (<span class="part" itemprop="title">Soprano</span>) studies Art History,
      and is a junior at UW. She enjoys writing, literature, playing her ukulele,
      and contemporary photography. Natalie hopes to figure out where she belongs
      in the art world, and may pursue architecture as a grad student. She also wrote these bios!!

%a#back-link(href="/people/") ← Back to People
