---
:page: person
:title: Revathi Murthy
:description: SoundBYTES bio for Revathi Murthy.
:layout: layout
---
.person#revathi(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot(src="/img/members/revathi.jpg")
  %h1(itemprop="name") Revathi Murthy
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  .bio
    %p
      Revathi Murthy (<span class="part" itemprop="title">Alto/Tenor</span>) is studying
      bioengineering and electrical engineering, and will be graduating in June.
      Outside of her math/science major, Revathi participates extensively in the
      arts. She sings in the band, The Amitabhs and enjoys composing arrangements
      for SoundBytes. She hopes to achieve something groundbreaking for
      medicine (preferably while wearing her uber comfortable "funky pants").

%a#back-link(href="/people/") ← Back to People
