---
:page: person
:title: Hannah Krajnik
:description: SoundBYTES bio for Hannah Krajnik.
:layout: layout
---
.person#hannah(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot(src="/img/members/hannah.jpg")
  %h1(itemprop="name") Hannah Krajnik
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  .bio
    %p
      Hannah Krajnik (<span itemprop="title">Soprano</span>) is a sophomore at UW.
      She is double majoring in Psychology and Creative Writing, and hopes to publish
      her own work in the near future. Hannah also harbors an intense obsession
      with Lord of the Rings, and hopes to travel extensively after college
      (probably to New Zealand). Her commitment and outgoing nature bring a fun,
      focused element to every rehearsal!

%a#back-link(href="/people/") ← Back to People
