---
:page: person
:title: Ambar Choudhury
:description: SoundBYTES bio for Ambar Choudhury.
---
.person#ambar(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot{src: asset_path(:images, 'members/ambar.jpg')}}
  %h1(itemprop="name") Ambar Choudhury
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  .bio
    %p
      Ambar Choudhury (<span class="part" itemprop="title">Vocal Percussion / Bass</span>)
      is a multi-talented, multi-Lingual CS major from UW. He tries to incorporate 
      his diverse musical tastes, ranging from Indian classical music to heavy rock 
      into his compositions for SoundBYTES. A fan of the late Bernie Mac, Ambar
      brings a baritone voice and the beats that keep the songs moving.

%a#back-link(href="/people/") ← Back to People
