@mixin opacity($percent) {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$percent*100)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=$percent*100);

    /* Older than Firefox 0.9 */
    -moz-opacity:$percent;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: $percent;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: $percent;
}
