---
:page: person
:title: Catherine Long
:description: SoundBYTES bio for Catherine Long.
:layout: layout
---
.person#catherine(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot(src="/img/members/catherine/headshot.jpg")
    %img.fade#collage1(src="/img/members/catherine/collage1.jpg")
    %img.fade#collage2(src="/img/members/catherine/collage2.jpg")
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  %h1(itemprop="name") Catherine Long
  .bio
    %p
      Catherine Long sings <span class="part" itemprop="title">Tenor</span>, and is in her 3rd
      year at UW. Cat pursues Women's Studies as her major, and is a boxing, baking,
      and cake-decorating enthusiast. Despite her infatuation with Mr. Feeny from
      "Boy Meets World," Cat hopes to become a social worker in the near future.
      She has bungee jumped, lived abroad, and rocks a mohawk HARD.

%a#back-link(href="/people/") ← Back to People

