---
:page: person
:title: Sean Anastasi
:description: SoundBYTES bio for Sean Anastasi.
---
.person#sean(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot{src: asset_path(:images, 'members/sean/headshot.jpg')}}
    %img.fade#collage1(src="/img/members/sean/collage1.jpg")
    %img.fade#collage2(src="/img/members/sean/collage2.jpg")
    %img.fade#collage3(src="/img/members/sean/collage3.jpg")
    %img.fade#collage4(src="/img/members/sean/collage4.jpg")
  %h1(itemprop="name") Sean Anastasi
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  .bio
    %p
      Sean (<span class="part" itemprop="title">Baritone/Bass</span>) works as a Software
      Developer, and graduated from UW in 2010. An avid reader, Sean still makes time
      for biking and website building. When asked his favorite color, Sean will respond
      with <span style="color:#3e4f60">"#3e4f60"</span> which is supposedly blue-gray-green (computer science...). He made
      this website! As the bass of the group, Sean is our rock!

%a#back-link(href="/people/") ← Back to People
