@import "reset.css.scss";

/** Google web font defintions. */
@font-face {
    font-family: 'Neucha';
    font-style:  normal;
    font-weight: normal;
    src: local('Neucha'), url('http://themes.googleusercontent.com/font?kit=bijdhB-TzQdtpl0ykhGh4Q') format('truetype');
}

/** Site wide element styles. */
a { color: inherit; text-decoration: none; }
p a { color: #3B5998; }

body {
    min-width: 1000px;
    overflow: hidden;

    background-image:    url('/img/bg-repeat.png');
    background-repeat:   repeat;
    background-position: center top;
}

/** Default layout styles. */
#logo {
    position: absolute;
    left: 10%;
    top:  30px;
    z-index: 100;

    font-family: 'Neucha', arial, serif;
    font-size:   500%;
    
    .seattle {
        font-size: 50%;
        color: #444;
        position: absolute; left: 1em; top: 0%;
    }
    
    .soundbytes {
        position: absolute; left: 0%;
        .flat { font-size: 90%; vertical-align: 20%; }
    }
}

nav#pages {
    position: absolute;
    right: 12%;
    top:   5%;
    
    color: #333;
    font-family: 'Neucha', arial, serif;
    font-size: 150%;
    letter-spacing: 2px;
    
    li { float: left; }
    
    a { 
        color: inherit;
        text-decoration: none;
        
        position: relative;
        display: block;
        margin-left: 1em;
        
        &::before {
            content: "♩";
            position: relative;
            top: 0.25em;
            right: 0.2em;
            visibility: hidden; }
        &:hover::before {
            visibility: visible; }
    }
}

.background {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -100;
    margin-left: -600px;
}

