
@import "default.css.scss";

#logo {
    font-size: 500%;
    top: 30px;
}

nav#people {
    position: absolute; top: 0; left: 50%;
    margin-left: -600px;
}

nav#people a {
    position: absolute;
    display: block;
    
    background-image: url('/img/bg.jpg');
    background-repeat: no-repeat;
}

li:hover .name {
    display:block;
}

.name {
    display: none;
    position: absolute; bottom: 0px;
    
    padding: 2px;
    
    background-color: white;
    color: black;
    text-decoration: none;
    border: 1px solid #ddd;
    opacity: 0.8;
}

.background {
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
}

@mixin face($left, $top, $width, $height) {
    width: $width; height: $height;
    left: $left; top: $top;
    background-position: $left*-1 $top*-1;
}

#sean-anastasi-face     { @include face(236px, 184px, 120px, 156px); }
#hannah-krajnik-face    { @include face(218px, 348px, 138px, 186px); }
#charlie-harper-face    { @include face(431px, 310px, 127px, 172px); }
#natalie-karbelnig-face { @include face(561px, 370px, 117px, 162px); }
#jeremie-wallis-face    { @include face(693px, 108px, 132px, 153px); }
#amanda-sun-face        { @include face(838px, 196px, 131px, 168px); }
#catherine-long-face    { @include face(984px, 144px, 150px, 200px); }

#harrison-wei-face {
    background-image: url('/img/members/harrison.jpg') !important;
    width: 128px; height: 128px;
    left: 780px; top: 450px;
}

#revathi-murthy-face {
    background-image: url('/img/members/revathi.jpg') !important;
    width: 128px; height: 128px;
    left: 950px; top: 450px;
}

