@import "default.css.scss";

.background {
    filter:alpha(opacity=10);
    -moz-opacity:0.1;
    -khtml-opacity: 0.1;
    opacity: 0.1;
}

#performances::before {
    background-color: white;
    filter:alpha(opacity=40);
    -moz-opacity:0.4;
    -khtml-opacity: 0.4;
    opacity: 0.4;

    content: "";
    width: 650px;
    padding: 20px;
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left: 0;
    z-index: -1;
}

#performances {
    font-family: sans-serif;
    position: relative;
    margin: auto;
    margin-top: 150px;
    width: 650px;
    padding: 20px;
    
    section {
    	margin-top: 1em;
    	margin-bottom: 1em;
    }
    
    h1 {
    	font-size: 200%;
    	text-align: left;
    	margin: 0.25em;
    	margin-top: 0; margin-left: 0;
    	font-family: Arial, serif;
    	color: #503E2B;
   	}
   	
    time { font-weight: bold; float: left; width: 12em; }
    .description { margin-left: 12em; }
    
    em { font-style: italic; }
    p {
    	margin-top: 0.5em; margin-bottom: 0.5em;
    }
}
