---
:page: person
:title: Amanda Sun
:description: SoundBYTES bio for Amanda Sun.
---
.person#amanda(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot{src: asset_path(:images, 'members/amanda.jpg')}}
  %h1(itemprop="name") Amanda Sun
  .bio
    %p
      Amanda (<span class="part" itemprop="title">Soprano</span>) has been singing since she
      was 7, and recently graduated from UW. Besides participating in
      <span itemprop="affiliation">SoundBYTES</span>, Amanda also is active in
      the university's dance team and her church. Her interests include makeup
      artistry, cheer, and youth group counseling. Amanda works as an entertainment
      company executive (despite her continuing love of Hanson), and hopes to have
      her company become a household name! 

%a#back-link(href="/people/") ← Back to People
