---
page: performances
layout: layout
---
%section#performances
  %h1 Upcoming Performances

  %section
    %time(datetime="2011-04-16T18:00:00 -08:00") April 16th, 6pm
    .description
      %p White Center Art Walk

  %section
    %time(datetime="2011-05-14T19:00:00 -08:00") May 14th, 7pm-9pm
    .description
      %h2 SoundBYTES <em>Amazing Technicolor DreamShow!</em> (working title)
      %p
        %a(href="http://www.brownpapertickets.com/event/162512") Tickets available March 1st

  %section
    %time(datetime="2011-05-21") May 21st
    .description
      %p
        %a(href="http://www.relayforlife.org/") Relay For Life
