---
page: person
layout: layout
---
.person
  .bio(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
    %h1 Sean Anastasi
    %p(itemprop="name")
      Sean Anastasi sings <span itemprop="role">Baritone and Bass</span>, as well as serving as the group&apos;s
      technical coordinator. He has been singing since elementary school with 4
      years of a cappella experience.

%nav#people
  %ul
    %li
      %a.face#amanda-sun-face(href="/people/amanda.sun/")
        .name Amanda Sun
    %li
      %a.face#charlie-harper-face(href="/people/charlie.harper/")
        .name Charlie Harper
    %li 
      %a.face#hannah-krajnik-face(href="/people/hannah.krajnik/")
        .name Hannah Krajnik
    %li
      %a.face#harrison-wei-face(href="/people/harrison.wei/")
        .name Harrison Wei
    %li
      %a.face#jeremie-wallis-face(href="/people/jeremie.wallis/")
        .name Jeremie Wallis
    %li
      %a.face#natalie-karbelnig-face(href="/people/natalie.karbelnig/")
        .name Natalie Karbelnig
    %li
      %a.face#catherine-long-face(href="/people/catherine.long/")
        .name Catherine Long
    %li
      %a.face#revathi-murthy-face(href="/people/revathi.murthy/")
        .name Revathi Murthy
    %li
      %a.face.current#sean-anastasi-face(href="/people/sean.anastasi/")
        .name Sean Anastasi
