---
:page: person
:title: Charlie Harper
:description: SoundBYTES bio for Charlie Harper.
---
.person#charlie(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot{src: asset_path(:images, 'members/charlie.jpg')}}
  %h1(itemprop="name") Charlie Harper
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  .bio
    %p
      Charlie Harper sings <span class="part" itemprop="title">Alto</span>. She has been singing since she was 14. Has
      been involved in theater and dance her entire life. She is currently a
      Senior Art Student at UW.

%a#back-link(href="/people/") ← Back to People
