---
:page: person
:title: Jeremie Wallis
:description: SoundBYTES bio for Jeremie Wallis.
:layout: layout
---
.person#jeremie(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
  .collage
    %img#headshot(src="/img/members/jeremie.jpg")
  %h1(itemprop="name") Jeremie Wallis
  %span(itemprop="affiliation" style="display:none;") SoundBYTES
  .bio
    %p
      Jeremie Wallis (<span class="part"  itemprop="title">Baritone</span>) has been singing
      since his first competition at age 3. He's been in choirs for 20 years,
      singing a cappella for 5 years. Before SoundBYTES, Jeremie served as
      director of Unleashed! A Cappella. He plans to return to school in the
      near future, most likely to study Broadcast Journalism. Besides celebrating
      his epic "80s sex symbol" hairstyle, Jer enjoys videogames, royal blue,
      and the stylings of Weird Al Yankovic.

%a#back-link(href="/people/") ← Back to People
