---
page: person
layout: layout
---
.person
  .bio(itemscope="itemscope" itemtype="http://data-vocabulary.org/Person")
    %h1(itemprop="name") Amanda Sun
    %p
      Amanda Sun sings <span itemprop="role">soprano</span>. She is involved not just in singing, but also with
      the UW Dance team and her church. She's been singing since she was 7.

%nav#people
  %ul
    %li
      %a.face.current#amanda-sun-face(href="/people/amanda.sun/")
        .name Amanda Sun
    %li
      %a.face#charlie-harper-face(href="/people/charlie.harper/")
        .name Charlie Harper
    %li 
      %a.face#hannah-krajnik-face(href="/people/hannah.krajnik/")
        .name Hannah Krajnik
    %li
      %a.face#harrison-wei-face(href="/people/harrison.wei/")
        .name Harrison Wei
    %li
      %a.face#jeremie-wallis-face(href="/people/jeremie.wallis/")
        .name Jeremie Wallis
    %li
      %a.face#natalie-karbelnig-face(href="/people/natalie.karbelnig/")
        .name Natalie Karbelnig
    %li
      %a.face#catherine-long-face(href="/people/catherine.long/")
        .name Catherine Long
    %li
      %a.face#revathi-murthy-face(href="/people/revathi.murthy/")
        .name Revathi Murthy
    %li
      %a.face#sean-anastasi-face(href="/people/sean.anastasi/")
        .name Sean Anastasi
